<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form id="frmCreateEvent" action="" method="post" enctype="application/x-www-form-urlencoded">
                    <br>
                    <br>
                    <table class="table" id="table">
                        <thead style="background-color: darkblue; color: white">
                        <tr>
                            <th></th>
                            <th>Event Id</th>
                            <th>Event Name</th>
                            <th>Client Name</th>
                            <th>Contact Number</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Fee</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a><i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a></td>
                        </tr>
                        </tbody>

                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

