<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form id="frmInstrument" action="" method="post" enctype="application/x-www-form-urlencoded">
                    <br>

                    <p class="form-group">
                        <label>Instrument Id :</label>
                        <input class="form-control" name="instrumentId" >
                    </p>
                    <p class="form-group">
                        <label>Instrument Name :</label>
                        <input class="form-control" name="instrumentName" >
                    </p>
                    <p class="form-group">
                        <label>Instrument Fee :</label>
                        <input class="form-control" name="instrumentFee" >
                    </p>

                </form>

                <button type="submit" class="btn btn-round btn-fill btn-info pull-right">Update</button>

            </div>
        </div>
    </div>
</div>

