<div class="main-content" >
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8">
                <form id="frmViewMeals" action="" method="post" enctype="application/x-www-form-urlencoded">
                    <div><a href="typography" class="btn btn-round btn-fill btn-info pull-right">Back</a> </div>
                <table class="table" id="table">
                        <thead style="background-color: darkblue ; color: white">
                        <tr>
                            <th></th>
                            <th>Meals Id</th>
                            <th>Meals Name</th>
                            <th>Meals Catagory</th>
                            <th>Description</th>
                            <th>Fee</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="updatemeal" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>


            <div class="col-md-4">
                <!--<br>-->
                <div>
                    <div><a href="addmeal" class="btn btn-round btn-fill btn-info pull-right">Add Meals</a> </div>
                    <button type="reset" class="btn btn-round btn btn-danger btn-fill btn-info pull-right">Delete Meals</button>
                </div>
                <br>
                <br>
                <br>

                <div class="image">
                    <br>
                    <ul>
                        <li>
                            <a href="mealcatagory">Manage Catagory</a>
                        </li>

                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>

