<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <br>

                <br>
                <br>
                <table class="table" id="tableN">
                    <thead style="background-color:white;color: white">
                    <tr>
                        <th></th>
                        <th>City</th>
                        <th>Location Type</th>
                        <th>Location ID</th>
                        <th>Location</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a><i class="fa fa-pencil-square-o" aria-hidden="true">update</i> </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5"><div><a  href="viewlocation" class="btn btn-round btn-fill btn-info pull-right">Add New Location</a></div>
            <button type="reset" class="btn btn-danger class=btn btn-round btn-fill pull-right">Delete Location</button>
                <div></div>
                <br>
                <br>
                <div class="simage"></div>
            </div>
        </div>
        <div class="image">

        </div>
    </div>
</div>