<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form id="frmAddMealCatagory" action="" method="post" enctype="application/x-www-form-urlencoded">
                    <br>

                    <p class="form-group">
                        <label>Catagory Id :</label>
                        <input class="form-control" name="catagoryId" >
                    </p>
                    <p class="form-group">
                        <label>Catagory Name :</label>
                        <input class="form-control" name="catagoryName">
                    </p>

                </form>

                <button type="submit" class="btn btn-round btn-fill btn-info pull-right">Update</button>


            </div>

        </div>
    </div>
</div>

