
#image{
    background-image: url("kgroung-login.jpg");
    /*opacity: 1;*/
    height: 660px;
    width: 1366px;
    position: absolute;
    left: 0px;
    /*border: ridge;*/
}
.loginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    box-sizing: border-box;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0,0,0,5);
    border-radius: 5px;
    transition: .5s;
}
.glass{
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    background: rgba(255,255,255,.1);
    border-radius: 5px;
    transition: .5s;
}
.loginBox:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0);
    background: rgba(255,255,255,1);
}
.glass:hover{
    transform: translate(20px,20px);
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
}
.user{
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}
h1{
    margin: 0;
    font-size: 45px;
    font-style: italic;
    font-family: "Cooper Black";
    padding: 0 0 20px;
    color: #262626;
    text-align: center;
}
.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginBox input[type="text"]{
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: #262626;
    background: transparent;
    font-size: 18px;
    padding-left: 40px;
    box-sizing: border-box;
}
::placeholder{
    color: rgba(0,0,0,.5);
}
.inputBox{
    position: relative;
}
.inputBox span{
    position: absolute;
    top: 10px;
    color: #262626;
}
.loginBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #ed292a;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}
