<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <br>
                <br>
                <div class="col-md-3"><label>City ID :</label></div>
                <div class="col-md-9"><input type="text" class="form-control"></div>
                <br>
                <br>
                <div class="col-md-3"><label>City :</label></div>
                <div class="col-md-9"><input type="text" class="form-control"></div>
                <br>
                <br>
                <br>
                <table class="table" id="tableCity">
                    <thead style="background-color:white;color: white">
                    <tr>
                        <th></th>
                        <th>City ID</th>
                        <th>City</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a><i class="fa fa-pencil-square-o" aria-hidden="true">update</i> </a></td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>