<div class="main-content" >
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <form id="frmAddMeal" action="" method="post" enctype="application/x-www-form-urlencoded">
                    <br>
                    <p class="form-group">
                        <label>Meal Id :</label>
                        <input class="form-control" name="mealId" >
                    </p>
                    <p class="form-group">
                        <label>Meal Name :</label>
                        <input class="form-control" name="mealName" >
                    </p>
                    <p class="form-group">
                        <label>Meals Catagory :</label>
                        <select class="form-control" name="cmbmealCatagory"></select>
                    </p>
                    <p class="form-group">
                        <label>Description :</label>
                        <textarea class="form-control" name="description" ></textarea>
                    </p>
                    <p class="form-group">
                        <label>Fee :</label>
                        <input class="form-control" name="fee" >
                    </p>

                    <button type="submit" class="btn btn-round btn-fill btn-info pull-right">Update</button>

                </form>
            </div>


        </div>
    </div>
</div>

