<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <br>
                <br>
                <div class="col-md-3"><label>City :</label></div>
                <div class="col-md-9"><select class="form-control" name="city"></select></div>
                <br>
                <br>
                <div class="col-md-3"><label>Location Type :</label></div>
                <div class="col-md-9"><select class="form-control" name="locationType"></select></div>
                <br>
                <br>
                <div class="col-md-3"><label>Location ID :</label></div>
                <div class="col-md-9"><input type="text" class="form-control"></div>
                <br>
                <br>
                <div class="col-md-3"><label>Location :</label></div>
                <div class="col-md-9"><input type="text" class="form-control"></div>
                <br>
                <br>
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-info btn-fill pull-right">Add To Table</button>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <table class="table" id="tableN">
                        <thead style="background-color: #001F3F;color: white">
                        <tr>
                            <th></th>
                            <th>City</th>
                            <th>Location Type</th>
                            <th>Location ID</th>
                            <th>Location</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a><i class="fa fa-times" aria-hidden="true"></i> </a>remove</td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <button type="submit" class="btn btn-info btn-fill pull-right">Add</button>

                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <br>
                <br>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-search"></i>
                            <p class="hidden-lg hidden-md">Search</p>
                        </a>
                    </li>
                </ul>
                <br>
                <div class="space"></div>
                <ul>
                    <li>
                        <a href="addcity"><i class="fa fa-forward" aria-hidden="true"></i>
                            Add City
                        </a>
                    </li>
                    <li class="separator hidden-lg hidden-md"></li>
                </ul>
                <br>
                <ul>
                    <li>
                        <a href="locationtype"><i class="fa fa-forward" aria-hidden="true"></i>
                            Add Location Type
                        </a>
                    </li>
                    <li class="separator hidden-lg hidden-md"></li>
                </ul>
                <br>
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-forward" aria-hidden="true"></i>
                            Upload Image
                        </a>
                    </li>
                    <li class="separator hidden-lg hidden-md"></li>
                </ul>
                <br>
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-forward" aria-hidden="true"></i>
                            Upload SiteMap
                        </a>
                    </li>
                    <li class="separator hidden-lg hidden-md"></li>
                </ul>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

            </div>
        </div>
    </div>
</div>