<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div><a href="instrument" class="btn btn-round btn-fill btn-info pull-right">Manage Instrument</a> </div>
            <div>
                <div><a href="addevent" class="btn btn-round btn-fill btn-info pull-right">Add Event</a> </div>
                <button type="reset" class="btn btn-round btn btn-danger btn-fill btn-info pull-right">Delete Event</button>
                <div><a href="typography" class="btn btn-round btn-fill btn-info pull-right">Back</a> </div>
            </div>

            <br>
            <div id="formcolor" class="col-md-12">
                <!--<form id="frmManageEvent" action="" method="post" enctype="application/x-www-form-urlencoded">-->
                <br>
                    <table class="table" id="table">
                        <thead style="background-color: darkblue ; color: white">
                            <tr>
                                <th></th>
                                <th>Event Id</th>
                                <th>Event Name</th>
                                <th>Package Name</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Organizers</th>
                                <th>Organizer Contact</th>
                                <th>Location</th>
                                <th>City</th>
                                <th>Fee</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="updateevents" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a></td>
                        </tr>
                        </tbody>
                    </table>
                <!--</form>-->
            </div>

        </div>
    </div>
</div>

