#formcolor{
    background-color: white;
}

#titlecolor{
    background-color: white;
    height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: larger;
    color: black;
}
/*#col{*/
    /*font-size: medium;*/
/*}*/