<div id="image">


    <div class="loginBox">
        <div class="glass">

            <img src="inpic.png" class="user">
            <h1>Sign In Here</h1>
            <form id="frmLogin" action="" method="" enctype="application/x-www-form-urlencoded">
                <div class="inputBox">

                    <input  type="text" name="username" placeholder="User Name">
                    <!--<span><img src="login-image/icon-user.png"></span>-->
                </div>
                <div class="inputBox">
                    <input type="password" name="password" placeholder="Password">
                    <!--<span><img src="login-image/keys-icon.png"></span>-->
                </div>

                <a routerLink="/forgotform" class="forgotPassword">Forgot Password</a>

                <br>

                <input id="btnLogin" type="submit" name="login" value="Login">
            </form>
            <a routerLink="/registration">Create Registation</a>
            
        </div>
    </div>
</div>



