.col-md-8{
    background-color: white;
}
.col-md-4{
    background-color: darkblue;
    width:350px;
    height: 500px;
}
input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 75%;
}