<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form id="frmAddEvent" action="" method="post" enctype="application/x-www-form-urlencoded">
                    <br>
                <p class="form-group">
                    <label>Event Id :</label>
                    <input class="form-control" name="eventId" placeholder="Enter Event Id">
                </p>

                    <p class="form-group">

                    </p>
                <p class="form-group">
                    <label>Event Name :</label>
                    <input class="form-control" name="eventName" placeholder="Enter New Event Name">
                </p>
                <p class="form-group">
                    <label>Package Name :</label>
                    <select class="form-control" name="cmbPackage"></select>
                </p>
                <p class="form-group">
                    <label>Date :</label>
                    <input class="form-control" name="date">
                </p>
                <p class="form-group">
                    <label>Time :</label>
                    <input class="form-control" name="date">
                </p>
                <p class="form-group">
                    <label>Organizers :</label>
                    <input class="form-control" name="organizer" placeholder="Enter Event Organizer">
                </p>
                <p class="form-group">
                    <label>Organizer Contact :</label>
                    <input class="form-control" name="organixerContact" placeholder="Enter Event Organizer Contact Number">
                </p>
                <p class="form-group">
                    <label>Location :</label>
                    <select class="form-control" name="cmbLocation"></select>
                </p>
                <p class="form-group">
                    <label>City :</label>
                    <select class="form-control" name="cmbCity"></select>
                </p>
                <p class="form-group">
                    <label>Fee :</label>
                    <input class="form-control" name="fee" placeholder="Enter Event Fee">
                </p>

                    <button type="submit" class="btn btn-round btn-fill btn-info pull-right">Add Event</button>
                    <div><a href="viewall" class="btn btn-round btn-fill btn-info pull-right">Back</a> </div>
                </form>
            </div>
            <!--<div class="col-md-5">
                 <br>
                    <ul>
                        <br>
                        <li>
                            <a href="viewall">Manage Event</a>
                        </li>
                        <br>
                        <li>
                            <a href="">Manage Rest House</a>
                        </li>
                        <br>
                        <li>
                            <a href="">Manage Meals</a>
                        </li>
                    </ul>
            </div>-->
    </div>
    </div>
</div>

